div {
    /* border: 3px solid blueviolet; */
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 2%;
    box-shadow: 10px 5px 15px brown;

}

h1 {
    font-family: 'Times New Roman', Times, serif;
    background-color: burlywood;
    color: brown;
}
h2{
    background-color: bisque;
    color: blue;
    height: 50px;
    text-align: justify;
    text-decoration: underline;
}

p {
    background-color: cadetblue;
    color: darkblue;
}
.repo{
    background-color: aquamarine;
    padding: 5%;
    box-shadow: 5px 3px 4px rebeccapurple;
}
.new{
    background-color: cadetblue;
}
